@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bakh";
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/bakh_Medium.woff');
}
@tailwind utilities;

@layer base {
    html {
      font-family: "Bakh" ,system-ui, sans-serif;
    }
  };